=form_tag "/custom_sign_up", method: :post do 

	%ul
		-@user.errors.full_messages.each do |error|
			%li= error
	%div 
		=text_field_tag "user[username]", @user.username
		%label{for:"user_username"} Nombre de usuario
	%div
		=text_field_tag "user[email]", @user.email, required: true
		%label{for:"user_email"} Correo Electrónico
	%div
		=text_field_tag "user[name]", @user.name
		%label{for:"user_name"} Nombre
	%div
		=submit_tag "completar Registro"